@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/*Header*/
header{
    background-color:#0F172B;
    color: #ffffff;
    display: flex;
    min-height: 100px;
    border-bottom:none;
    align-items: center;
    justify-content: space-around;
    
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    display: flex;
    align-items: center;
}
header #branding-name h1{
    margin: 0;
    float: right;
}
header nav{
    float: right;
    margin-top: 10px;
}
s
header #booking h2{
    color: #ffffff;
    border: 2px;
}
.book-now-btn{
    padding: 13px 25px;
    background:none;
    color: burlywood;
    border-radius: 5px;
    border-color: burlywood;

}
.book-now-btn:hover{
    background-color: burlywood;
    color: #ffffff;
    cursor: pointer;
}
/*Showcase*/
#showcase{
    /* min-height: 1000px; */
    background: url('images/Untitled-design-1-1.webp') no-repeat  ;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    
    
}
#showcase h1{
    margin-top: 0;
    font-size: 55px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
#showcase h2{
    font-family: 'Zeyada', cursive;
    font-size: 75px;
    margin-top: 140px;
    /* margin-bottom: 5px; */
    font-weight: 10px;
    
}
.container{
    padding-top: 60px;
}
/*Lists*/
.lists {
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    width: 80%;
    background-color: #ffffff;
    justify-content: space-between;

}
 .list{
    /* float: left; */
    /* width: 30%; */
    display: flex;
    background-size: cover;
    border-left: 1px solid gray;
    
}

.form{
    width:100% ;
    
}
.items{
    width: 100%;
    height: 100%;
    font-size: 20px;
    
    
}

.check-btn{
    padding: 13px 25px;
    background-color: #0F172B;
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.check-btn:hover{
    background-color: burlywood;
    color: #ffffff;
    cursor: pointer;
}
select{
    
    border: none;
}
/*description*/
.description{
    margin-top: 100px;
    margin-bottom: 150px;
    /* background: url('images/welcome_PNG47.png') no-repeat ; */
    /* background-size: 400px; */
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    
   
}
.container2{
    /* padding-top: 80px; */
    
    
}
.welcome-image{
    display: flex;
    flex-direction: column; 
    position: relative;
}
.welcome-image >h1{
    font-family: 'Lato', sans-serif;
}
.para{
    float: left;
    width: 30%;  
    padding-left: 35px;
    
    text-align:left;
    height: auto;
    
}
.text{
    /* display: flex;
    align-items: center; */
    padding-top: 70px;
    
}
.text >p{
    font-family: 'Lato', sans-serif;
}
.description h1{
    float: left;
    font-size: 50px;
}
.para p{
    font-size: 18px;
    color: gray;
}
/*Services*/
.services{
    /* display: flex;
    flex-direction: column; */
}
.image-container{
    /* display: grid; */
    /* grid-gap: 10px; */
    display: flex;
    justify-content: space-between;
    height: 570px;
    align-items: end;
    
}
.image-item{
    background:url('images/room.jpg') no-repeat;
    position: relative;
    align-items: center;
    display: flex;
    width: 25%;
    background-size: cover;
    height: 550px;
    transition: height 0.3s ease;
    background-color: #0F172B;
    opacity: 0.5;
    /* max-height: 400px; */
    /* flex-direction: row; */
}
.image-item:hover{
    
    height: 570px;
    
}
/* .image-item img{
    width: 323px;
    height: 550px;
    object-fit: cover; */
    

/* } */
.text-inner{
    
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-inner:hover{
    
}
.text-overlay{
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    color:#ffffff;
    /* text-align: center; */
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
}
.text-overlay:hover{
    display: none;
}
.text-overlay h3{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 0;
}