@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/*Header*/
header{
    background-color:#0F172B;
    color: #ffffff;
    display: flex;
    min-height: 100px;
    border-bottom:none;
    align-items: center;
    justify-content: space-around;
    
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    display: flex;
    align-items: center;
}
header #branding-name h1{
    margin: 0;
    float: right;
}
header nav{
    float: right;
    margin-top: 10px;
}
s
header #booking h2{
    color: #ffffff;
    border: 2px;
}
.book-now-btn{
    padding: 13px 25px;
    background:none;
    color: burlywood;
    border-radius: 5px;
    border-color: burlywood;

}
.book-now-btn:hover{
    background-color: burlywood;
    color: #ffffff;
    cursor: pointer;
}
/*Showcase*/
#showcase{
    /* min-height: 1000px; */
    background: url('images/Untitled-design-1-1.webp') no-repeat  ;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    
    
}
#showcase h1{
    margin-top: 0;
    font-size: 55px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
#showcase h2{
    font-family: 'Zeyada', cursive;
    font-size: 75px;
    margin-top: 140px;
    /* margin-bottom: 5px; */
    font-weight: 10px;
    
}
.container{
    padding-top: 60px;
}
/*Lists*/
.lists {
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    width: 80%;
    background-color: #ffffff;
    justify-content: space-between;

}
 .list{
    /* float: left; */
    /* width: 30%; */
    display: flex;
    background-size: cover;
    border-left: 1px solid gray;
    
}

.form{
    width:100% ;
    
}
.items{
    width: 100%;
    height: 100%;
    font-size: 20px;
    
    
}

.check-btn{
    padding: 13px 25px;
    background-color: #0F172B;
    color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.check-btn:hover{
    background-color: burlywood;
    color: #ffffff;
    cursor: pointer;
}
select{
    
    border: none;
}
/*description*/
.description{
    margin-top: 100px;
    margin-bottom: 150px;
    /* background: url('images/welcome_PNG47.png') no-repeat ; */
    /* background-size: 400px; */
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    
   
}
.container2{
    /* padding-top: 80px; */
    
    
}
.welcome-image{
    display: flex;
    flex-direction: column; 
    position: relative;
}
.welcome-image >h1{
    font-family: 'Lato', sans-serif;
}
.para{
    float: left;
    width: 30%;  
    padding-left: 35px;
    
    text-align:left;
    height: auto;
    
}
.text{
    /* display: flex;
    align-items: center; */
    padding-top: 70px;
    
}
.text >p{
    font-family: 'Lato', sans-serif;
}
.description h1{
    float: left;
    font-size: 50px;
}
.para p{
    font-size: 18px;
    color: gray;
}
/*Services*/
/* .services{
    /* display: flex;
    flex-direction: column; */
/* }
.image-container{
    /* display: grid; */
    /* grid-gap: 10px; */
    /* display: flex;
    justify-content: space-between;
    height: 570px;
    align-items: end;
    
}
.image-item{
    background:url('images/room.jpg') no-repeat;
    position: relative;
    align-items: center;
    display: flex;
    width: 25%;
    background-size: cover;
    height: 550px;
    transition: height 0.3s ease;
    background-color: #0F172B;
    opacity: 0.5; */
    /* max-height: 400px; */
    /* flex-direction: row; */
/* } */
/* .image-item:hover{
    
    height: 570px;
    
} */ 
/* .image-item img{
    width: 323px;
    height: 550px;
    object-fit: cover; */
    

/* } */
/* .text-inner{
    
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-inner:hover{
    
}
.text-overlay{ */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* color:#ffffff; */
    /* text-align: center; */
    /* width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
}
.text-overlay:hover{
    display: none;
}
.text-overlay h3{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 0;
}  */
.image-container{
    display: flex;
    justify-content: space-between;
    height: 570px;
    align-items: end;
    width: 100%;
}
.image-item{ 
    position: relative;
    align-items: center;
    display: flex;
    width: 25%;
    background-size: cover;
    height: 550px;
    transition: height 0.4s ease;
}
.image1{
    background:url('images/room.jpg') no-repeat;
}
.image2{
    background:url('images/5fee5cb865ebe1d62fa317200e2986ae.jpg') no-repeat;
}
.image3{
    background:url('images/meeting.jpg') no-repeat;
}
.image4{
    background:url('images/fitness.jpg') no-repeat;
}
.image-item:hover{
    height: 570px;  
}
.text-overlay{
    color:#ffffff;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-inner {
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-inner>div{
    width: 75%;
    text-align: center;
}
.image-item:hover .text-overlay {
    opacity: 0;
}
  
.image-item:hover .text-inner {
    opacity: 1;
}

.text-overlay h3{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 0;
}
.icon-description {
    /* align-items: center;
    justify-content: center; */
    display: flex;
    width: 25%;
    margin-right: 10px;
    /* padding-top: 40px;
    padding-bottom:40px ; */
}
.icon-image{
    /* padding: 30px; */
    /* padding-left: 100px;
    padding-right: 100px; */
    /* border: 1px solid red; */
    
}
.icon-image img{
    width: 50px;
    height: 50px;
    
}

.icon-text p{
    font-size: 16px;
    /* border: 1px solid red; */
    padding-left: 30px;
   
}
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f5f5f5;
    height: 200px;
}
.heading{
    padding-left: 20px;

}
.heading >h3{
    padding-bottom: 10px;
}
.image{
    display: flex;
    flex-direction: column; 
    position: relative;
    align-items: center;
    padding: 80px;

    
}
.image >h1{
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    padding-left: 20px;
}
.image >p{
    font-size: 125px;
    color: burlywood;
    font-family: 'Great Vibes', cursive;
}

/* .room-images{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.carousel-container{
    display: flex;} */
    /* justify-content: center; */
   /* align-items: center; */
    /* min-height: 100vh; */ 
    /* overflow: hidden; */
/* } */
/* button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  /* .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  } */
.image-background{
    position:relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.image-1{
    display: flex;
    flex-direction: column; 
    position: relative;
    align-items: center;
    padding: 70px;

    
}
.text-img1{
    /* border: 1px solid red; */
    padding: 30px 0;
    font-size: 13px;
}
/* .image-1{
    border: 1px solid blue;
} */
.image-1 >h1{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding-left: 20px;
}
.image-1 >p{
    padding-left: 10px;
    font-size: 80px;
    color: burlywood;
    font-family: 'Great Vibes', cursive;
}

.img-background{
    background-image: url(images/steak-menu-juicy-grilled-steaks-black-stone-background-tbone-striploin-rib-eye-new-york-steak-top-view-rustic-style_187166-23269.jpg);
    width: 100%;
    height: 500px;
    position: relative;
    
}
  .text-block {
    
    margin-right: 0;
    margin-left: auto;
    width: 50%;
    background-color: black;
    opacity: 0.7;
    color: white;
    /* padding-left: 10px; */
    padding-right: 20px;
    height: 500px;
    /* border: 1px solid red; */
    
  }
  /* .book-now-btn-info{
    padding-left: 10px;
    margin: 9px 9px;
    border: 1px  solid red;
    
  } */
  .book-now-btn2{
    color: white;
    background-color: burlywood;
    border: none;
    padding: 10px 10px;
    border-radius: 5%;
  }
  /* carousel */
  .main-slideshow{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slideshow-container{
    width: 500px;
    height: 300px;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .myslide{
    
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
   
    /* justify-content: center;  */
  } 
  .fade{
    animation-name: fade;
    animation-duration: 1.5s;
   
  }
  @keyframes fade{
    from{
        opacity: 0.4;

    }
    to{
        opacity: 1;
    }
  }
  .profile{
    width: 120px;
    height: 120px;
   
    border-radius: 50%;
    margin: 10px auto;
   display: flex;
   background-size: contain;
   overflow: hidden;
   align-items: center;
   justify-content: center;
  }
 .profile >img{
    /* width: 120px; */
    height: 120px;
 }
 footer{
    background-color: #0F172B;
    color: white;
  
 }
 .footer{
/*     
        background-color:#0F172B;
        color: #ffffff; */
        display: flex;
        min-height: 100px;
        border-bottom:none;
        align-items: center;
        justify-content: space-around;
        
    
 }
 #branding1{
    display: flex;
    align-items: center;
 }
#branding-name1{
    display: flex;
    
}
.box1{
    position: relative;
    margin: 50px 0;
}
.box1-text{
    padding: 10px;
}
.copyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}